@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");
/* --**VARIABLES CSS**-- */
:root {
  --header-height: 3rem;
  --frist-color: #202a52;
  --second-color: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  --color-send: #0094ea;
  --title-color: #161212;
  --title-color: #3a3f62;
  --text-color: #fff;
  --text-color-alt: #8f8a8a;
  --body-color: #fefbfb;
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-semi: 600;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 6rem;
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* --**BASIC**-- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --**CSS CLASS**-- */
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --**LAYOUT**-- */
.container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/* --**NAV**-- */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: var(--body-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__logo {
  width: 150px;
}

.nav__link {
  color: var(--text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 37%;
}

.nav__toggle div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 0.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

/* --**Show Menu*-- */
.show-menu {
  left: 0;
}

/* --**HOME**-- */
.home {
  position: relative;
  background-color: var(--frist-color);
  min-height: 100vh;
}

.bg-home-alt {
  width: 50vw;
  height: 100vh;
  background: var(--second-color);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0% 100%);
}

/* --**BUTTONS**-- */
/* --**FOOTER**-- */
/* --**MEDIA QUERIES**-- */
/*# sourceMappingURL=style.css.map */