@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");
@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

/* --**VARIABLES CSS**-- */
:root {
  --header-height: 3rem;
  --frist-color: #202a52;
  --second-color: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  --color-send: #0094ea;
  --title-color: #161212;
  --title-color-alt: #3a3f62;
  --text-color: #fff;
  --text-color-alt: #8f8a8a;
  --body-color: #fefbfb;
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-semi: 600;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 4.5rem;
    --biggest-font-size: 6rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* --**BASIC**-- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --**CSS CLASS**-- */
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--huge-font-size);
  font-weight: var(--font-semi);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --**LAYOUT**-- */
.container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/* --**NAV**-- */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    padding: 2rem;
    text-align: left;
    background-color: var(--body-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
    margin-top: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu .nav__link {
    color: var(--title-color-alt);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
  }
  .nav__menu .nav__link:hover {
    color: var(--color-send);
  }
  .nav__menu .nav__list--primary {
    margin-bottom: var(--mb-6);
  }
  .nav__menu .button--red {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .nav__menu .button--red:hover {
    color: var(--text-color);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
  font-weight: var(--font-bold);
}

.nav__logo {
  width: 150px;
}

.nav__link {
  color: var(--text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--color-send);
}

.nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 37%;
}

.nav__toggle div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 0.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

/* --**Animation ToggleX*-- */
.toggleX .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleX .line2 {
  opacity: 0;
}

.toggleX .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* --**Show Menu*-- */
.show-menu {
  right: 0;
}

/* --**Add Background Header After Scroll*-- */
.scroll-header {
  background-color: var(--frist-color);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* --**Active Menu Link**-- */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color-alt);
  border-radius: 50%;
}

/* --**BUTTONS**-- */
.button {
  display: inline-block;
  background-color: var(--color-send);
  color: var(--text-color);
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
  font-weight: var(--font-bold);
}

.button:hover {
  background-color: #06517c;
}

.button--register {
  width: 100%;
  margin-bottom: var(--mb-1);
}

.button--red {
  background-color: #dc3545;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button--red:hover {
  color: var(--title-color);
}

/* --**HOME**-- */
.home {
  position: relative;
  background-color: var(--frist-color);
  min-height: 100vh;
}

.home__content {
  text-align: center;
  margin: 0 auto;
}

.home__img {
  z-index: 1;
  border-radius: 25%;
}

.home__data {
  z-index: 1;
}

.home__title {
  font-size: var(--big-font-size);
  color: var(--text-color);
  position: relative;
}

.home__subtitle {
  font-size: var(--h2-font-size);
}

.home__text {
  display: block;
  font-size: 0.8rem;
  color: var(--text-color-alt);
  font-weight: var(--font-bold);
}

.bg-home-alt {
  width: 50vw;
  height: 50%;
  background: var(--second-color);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0% 100%);
}

/* --**ABOUT**-- */
.about {
  color: var(--title-color);
}

.about__img {
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__subtitle {
  font-size: 2rem;
  font-weight: var(--font-semi);
}

.about__data {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

/* --**OFERTS**-- */
.oferts {
  color: var(--title-color);
}

.oferts__container {
  row-gap: 2.5rem;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.oferts__content {
  text-align: center;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
          box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1rem 0;
}

.oferts__img {
  width: 200px;
  height: 225px;
  margin-bottom: var(--mb-3);
  -webkit-transition: transfrom 0.3s;
  transition: transfrom 0.3s;
}

.oferts__img:hover {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.oferts__title {
  font-size: var(--h2-font-size);
  color: var(--title-color-alt);
  margin-bottom: var(--mb-3);
}

.oferts__description {
  padding: 0 1.5rem;
  margin-bottom: var(--mb-3);
}

/* --**REGISTER**-- */
.register {
  padding: 2rem 0 2rem;
  background: var(--second-color);
  border-radius: 0.9rem;
  width: 80%;
  position: relative;
  top: 200px;
}

.register__container {
  padding: 0 1rem;
}

.register__title {
  color: var(--text-color);
  font-size: var(--big-font-size);
  font-weight: var(--font-semi);
}

.register__description {
  margin-bottom: var(--mb-3);
}

.register__text {
  font-weight: var(--font-semi);
}

.register .icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

/* --**OURS CONTENT**-- */
.oursContent {
  background: var(--frist-color);
  min-height: 100vh;
}

.oursContent__container {
  margin-top: 11rem;
}

.content {
  background: var(--title-color-alt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

.content-icon {
  margin-right: 1rem;
  font-size: 3rem;
  padding: 1rem;
}

.content__description {
  display: none;
}

.content__text {
  font-weight: var(--font-bold);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__link {
  display: none;
}

.bxs-right-arrow-circle {
  color: var(--color-send);
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* --**FOOTER**-- */
.footer {
  background-color: var(--frist-color);
  border-top: 1px solid var(--text-color-alt);
}

.footer__container {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__logo {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  font-weight: var(--font-bold);
}

.footer__description {
  display: block;
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__social:hover {
  color: var(--text-color);
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
  font-weight: var(--font-bold);
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--frist-color);
}

.attribution a {
  color: var(--text-color);
}

/* --**MODAL**-- */
.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 2.75rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

/* --**FORM**-- */
.form {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.form .field .input-area {
  position: relative;
}

.form input {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border: 1px solid gray;
  font-size: var(--normal-font-size);
  border-radius: 0.225rem;
}

.form input::-webkit-input-placeholder {
  font-weight: var(--font-semi);
}

.form input:-ms-input-placeholder {
  font-weight: var(--font-semi);
}

.form input::-ms-input-placeholder {
  font-weight: var(--font-semi);
}

.form input::placeholder {
  font-weight: var(--font-semi);
}

.form input[type="submit"] {
  margin-top: var(--mb-2);
  border: none;
  background: var(--color-send);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
}

.form input[type="submit"]:hover {
  background: #06517c;
}

.form .field {
  width: 100%;
  margin-bottom: 1rem;
}

.form .field i {
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form .field .error {
  display: none;
}

.form .field .error--icon {
  right: 15px;
  color: #dc3545;
}

.form .field .error-text {
  color: #dc3545;
  text-align: right;
  margin-top: 0.5rem;
}

.form .field.shake {
  -webkit-animation: shake 0.3s ease-in-out;
          animation: shake 0.3s ease-in-out;
}

.form .field.error .error {
  display: block;
}

.form .field.error input {
  border-color: #dc3545;
}

.agree {
  color: var(--text-color-alt);
  font-size: var(--small-font-size);
  text-align: center;
}

.agree--term {
  color: #dc3545;
  font-weight: var(--font-semi);
}

/* --**MEDIA QUERIES**-- */
@media screen and (max-width: 640px) {
  .form {
    padding: 0;
  }
  .modal {
    width: 100%;
  }
  .close-modal {
    font-size: 3rem;
    top: 3rem;
  }
}

@media screen and (min-width: 568px) {
  .home__img {
    width: 300px;
  }
  .home__data {
    max-width: 550px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .home__content {
    max-width: 720px;
  }
  .button-register {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list--primary {
    margin: 0 auto;
  }
  .nav__item {
    margin-right: 1rem;
  }
  .nav__item + .nav__item {
    margin-left: 1rem;
  }
  .active-link::before {
    background-color: var(--text-color);
  }
  .home__title {
    margin-top: var(--mb-5);
  }
  .register {
    padding: 4rem 1rem 2rem;
  }
  .register__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .register__description {
    max-width: 400px;
  }
  .register__text {
    margin-bottom: var(--mb-2);
  }
  .button--register-down {
    width: 200px;
    text-align: center;
  }
  .about__description {
    max-width: 750px;
  }
  .oursContent__container {
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .content {
    min-height: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    text-align: center;
    -webkit-transition: transfrom 0.3s;
    transition: transfrom 0.3s;
  }
  .content:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .content-icon {
    -webkit-transition: ease 0.8s;
    transition: ease 0.8s;
  }
  .content-icon:hover {
    color: var(--color-send);
  }
  .content__description {
    display: block;
  }
  .content__text {
    display: block;
  }
  .content__text:hover {
    color: var(--color-send);
  }
  .icon__link {
    display: inline-block;
    color: var(--text-color);
    font-size: var(--h3-font-size);
    margin-left: 2rem;
    vertical-align: top;
  }
  .bxs-right-arrow-circle {
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .home__data {
    max-width: 1024px;
  }
  .home__title {
    width: 100%;
  }
  .home__img {
    width: 425px;
  }
  .home__title::before,
  .home__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .home__title::before {
    padding-top: var(--mb-5);
    background: var(--frist-color);
    -webkit-animation: typewriter 6s steps(20) forwards;
            animation: typewriter 6s steps(20) forwards;
  }
  .home__title::after {
    width: 0.2rem;
    background: #fff;
    -webkit-animation: typewriter 6s steps(20) forwards, blink 500ms steps(20) infinite;
            animation: typewriter 6s steps(20) forwards, blink 500ms steps(20) infinite;
  }
}
/*# sourceMappingURL=style.css.map */