@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");
@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/* --**VARIABLES CSS**-- */
:root {
  --header-height: 3rem;
  --frist-color: #202a52;
  --second-color: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  --color-send: #0094ea;
  --title-color: #161212;
  --title-color-alt: #3a3f62;
  --text-color: #fff;
  --text-color-alt: #8f8a8a;
  --body-color: #fefbfb;
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-semi: 600;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.5rem;
    --biggest-font-size: 6rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* --**BASIC**-- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --**CSS CLASS**-- */
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--huge-font-size);
  font-weight: var(--font-semi);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --**LAYOUT**-- */
.container {
  max-width: 960px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/* --**NAV**-- */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    padding: 2rem;
    text-align: left;
    background-color: var(--body-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
    margin-top: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu .nav__link {
    color: var(--title-color-alt);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__logo {
  width: 150px;
}

.nav__link {
  color: var(--text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 37%;
}

.nav__toggle div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 0.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

/* --**Animation toggleX*-- */
.toggleX .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleX .line2 {
  opacity: 0;
}

.toggleX .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* --**Show Menu*-- */
.show-menu {
  right: 0;
}

/* --**BUTTONS**-- */
.button {
  display: inline-block;
  background-color: var(--color-send);
  color: var(--text-color);
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
  font-weight: var(--font-bold);
}

.button:hover {
  background-color: #06517c;
}

.button--register {
  width: 100%;
  margin-bottom: var(--mb-1);
}

/* --**HOME**-- */
.home {
  position: relative;
  background-color: var(--frist-color);
  min-height: 100vh;
}

.home__content {
  text-align: center;
  margin: 0 auto;
}

.home__img {
  z-index: 1;
  border-radius: 25%;
}

.home__data {
  z-index: 1;
}

.home__title {
  font-size: var(--big-font-size);
  color: var(--text-color);
  position: relative;
}

.home__subtitle {
  font-size: var(--h2-font-size);
}

.home__text {
  display: block;
  font-size: 0.8rem;
  color: var(--text-color-alt);
  font-weight: var(--font-bold);
}

.bg-home-alt {
  width: 50vw;
  height: 50%;
  background: var(--second-color);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0% 100%);
}

/* --**ABOUT**-- */
.about {
  color: var(--title-color);
}

.about__img {
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__subtitle {
  font-size: 2rem;
  font-weight: var(--font-semi);
}

.about__data {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

/* --**OFERTS**-- */
.oferts {
  color: var(--title-color);
}

.oferts__container {
  row-gap: 2.5rem;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.oferts__content {
  text-align: center;
}

.oferts__img {
  width: 200px;
  height: 225px;
  margin-bottom: var(--mb-3);
}

.oferts__title {
  font-size: var(--h2-font-size);
  color: var(--title-color-alt);
  margin-bottom: var(--mb-3);
}

.oferts__description {
  padding: 0 1.5rem;
}

/* --**REGISTER**-- */
.register {
  padding: 2rem 0 2rem;
  background: var(--second-color);
  border-radius: 0.9rem;
  width: 80%;
  position: relative;
  top: 200px;
}

.register__container {
  padding: 0 1rem;
}

.register__title {
  color: var(--text-color);
  font-size: var(--big-font-size);
  font-weight: var(--font-semi);
}

.register__description {
  margin-bottom: var(--mb-3);
}

.register__text {
  font-weight: var(--font-semi);
}

.register .icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

/* --**OURS CONTENT**-- */
.oursContent {
  background: var(--frist-color);
  min-height: 100vh;
}

.oursContent__container {
  margin-top: 11rem;
}

.content {
  background: var(--title-color-alt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-icon {
  margin-right: 1rem;
  font-size: 3rem;
  padding: 1rem;
}

.content__description {
  display: none;
}

.content__text {
  font-weight: var(--font-bold);
  font-size: 2rem;
}

.icon__link {
  display: none;
}

.bxs-right-arrow-circle {
  color: var(--color-send);
  font-size: 2rem;
  margin-right: 1rem;
}

/* --**FOOTER**-- */
/* --**MEDIA QUERIES**-- */
@media screen and (min-width: 1024px) {
  .home__title::before,
  .home__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .home__title::before {
    background: var(--frist-color);
    -webkit-animation: typewriter 6s steps(20) forwards;
            animation: typewriter 6s steps(20) forwards;
  }
  .home__title::after {
    width: 0.2rem;
    background: #fff;
    -webkit-animation: typewriter 6s steps(20) forwards, blink 500ms steps(20) infinite;
            animation: typewriter 6s steps(20) forwards, blink 500ms steps(20) infinite;
  }
}
/*# sourceMappingURL=style.css.map */